*{
    margin: 0%;
    padding: 0%;
}
/* display block (padrao) */
.pai{
    width: 80%;
    height: 500px;
    padding: 20px;
    background-color: darkgray;
    display: flex;
    /* row linha */
    /* column coluna */
    flex-direction: row ;
    justify-content: space-around;
    align-items: end;
    /* start - esquerda */
    /* end - direita */
    /* center - centro */
    /* space-between/around - separar centralizado */
}

.filho{
    padding: 30px;
    margin: 10px 0px;
    background-color: orange;
}